<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet"> 

	<link rel="stylesheet" type="text/css" href="/static/js/jquery.datetimepicker.css">
	<script src="/static/js/jquery.js"></script>
	<script src="/static/build/jquery.datetimepicker.full.min.js"></script>
	<title>Nueva Lista</title>
</head>
<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">TO-DO</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					  <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Historial</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Mi Dashboard</a>
					</li>
				  </ul>
				  <ul class="navbar-nav ml-auto">
					<li class="nav-item">
					  <a>Bienvenido, {{ username }}!</a>
					</li>
				</ul>
				  <form class="form-inline my-2 my-lg-0">
				  </form>
				</div>
		</nav>
	<div class="container-fluid">
	<div class="jumbotron">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		<h1>Organiza tus tareas sin dificultades</h1>
	</div>
	<div class="row">
		<div id="general" class="col-8">
			<form action="{{url_for('addtarea')}}" method="POST">
			<h3>Paso 2. Agrega tus tareas a tu lista</h3>
			<br>
			<input type="text" class="form-control" name="titulo" placeholder="Titulo">
			<br>
			<input type="text" class="form-control" name="descripcion" placeholder="Descripcion">
			<br>
			<!--_______________Fechas-->
			<input name="creada" id="datetimepicker_" type="text" class="form-control" placeholder="Selecciona la fecha de Inicio">
			<script type="text/javascript">
				jQuery.datetimepicker.setLocale('es');
				jQuery('#datetimepicker_').datetimepicker({
					autoclose: true,
					timepicker:false,
					format:'d/m/Y',
					todayBtn: true
				});
				</script>
			<br>	
			<input name="entrega" id="datetimepicker" type="text" class="form-control" placeholder="Selecciona la fecha límite">
			<script type="text/javascript">
				jQuery.datetimepicker.setLocale('es');
				jQuery('#datetimepicker').datetimepicker({
					autoclose: true,
					timepicker:false,
					format:'d/m/Y'
				});
				</script>
		<br>
				<select name="materia" id="combo_materia">
					{% for materia in materias %}
					<option value="{{ materia.1 }}"> {{ materia.1 }}</option>
					<br>
					{% endfor %}
				</select>
				<br>
				<input type="text" value="3" name="idColor" class="form-control">
				<br>
		<button class="btn btn-info">Guardar</button>
		</form>
		</div>
		<div id="aside" class="col-4">
		</div>
	</div>
			<footer id="pie" class="row">
					<div class="col">
						<ul id="listaPie">
                            <li>Alxdom</li> Mussgoking</li>
                        </ul>
						</div>
				</footer>
			</div>
</body>
</html>