<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet"> 

	<link rel="stylesheet" type="text/css" href="/static/js/jquery.datetimepicker.css">
	<script src="/static/js/jquery.js"></script>
	<script src="/static/build/jquery.datetimepicker.full.min.js"></script>
	<title>Nueva Lista</title>
</head>
<body>
		<nav class="navbar sticky-top navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/home">TO-DO</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					  <a class="nav-link" href="/home">Inicio <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="/mi_dashboard">Mi Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/mis_materias">Mis materias</a>
					  </li>
					  <li class="nav-item">
							<a class="nav-link" href="/mis_tareas">Mis tareas</a>
						  </li>
				  </ul>
				  <div class="mx-auto order-0">
						<a>Bienvenido, {{ username }}!</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
							<span class="navbar-toggler-icon"></span>
						</button>
					</div>
				  <ul class="navbar-nav ml-auto">
								<a class="nav-link" href="/logout">Cerrar Sesión</a>
				   </ul>
				</div>
		</nav>
		
	<div class="container-fluid">
	<div class="jumbotron">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		<h1>Organiza tus tareas sin dificultades</h1>
		{% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                        <h3>{{ message }}</h3>
                    {% endfor %}
               {% endwith %}
	</div>
	<div class="row">
		<div id="general" class="col-8">
			<form action="{{url_for('addtarea')}}" method="POST">
			<h3>Paso 2. Agrega tus tareas a tu lista</h3>
			<br>
			<input type="text" class="form-control" name="titulo" placeholder="Titulo">
			<br>
			<input type="text" class="form-control" name="descripcion" placeholder="Descripcion">
			<br>
			<!--_______________Fechas-->
			Selecciona la fecha de inicio
			<br>
			<input name="creada" type="date" placeholder="Selecciona la fecha de inicio">
			<br>	
			<br>
			Selecciona la fecha límite
			<br>
			<input name="entrega" type="date" placeholder="Selecciona la fecha límite">
			<br>
		<br>
				<select name="materia" id="combo_materia">
					{% for materia in materias %}
					<option value="{{ materia.0 }}"> {{ materia.1 }}</option>
					<br>
					{% endfor %}
				</select>
				<br>
				<br>
		<button class="btn btn-info">Guardar</button>
		</form>
		</div>
		<div id="aside" class="col-4">
		</div>
	</div>
	<footer>
			<div class="container">
				<h5>Alxdom® & MussgoKing® 2019</h5>
			</div>
		</footer>
			</div>
</body>
</html>