<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet"> 
	<title>Mis materias</title>
</head>
<script>
	window.onload = function cambiar_fondo(){
	var x = document.getElementById("card1");
	var l1 = document.getElementById("inicio");
	var l2 = document.getElementById("fin");
	var fechaInicio = document.getElementById("inicio").textContent;
	var fechaFin = document.getElementById("fin").textContent;
	var fechaX = new Date(fechaInicio);
	var fechaY = new Date(fechaFin)

	var hoy = new Date();
	var dd = hoy.getDate();
	var mm = hoy.getMonth() + 1;
	var yyyy = hoy.getFullYear();

	if (dd < 10){
		dd = '0' + dd;
	}
	if (mm < 10){
		mm = '0' + mm;
	}
	var today = yyyy + '-' + mm + '-' + dd;
	var caca = new Date(today);
	if (hoy > fechaY) {
		alert('Tienes tareas vencidas!')
		x.style.background = "red"; 
		x.style.color = "white"; 
		l1.style.background = "red";
		l1.style.color = "white";
		l2.style.background = "red";
		l2.style.color = "white";
		texto1.style.color = "white";
		texto1.style.background = "red";
		texto2.style.color = "white";
		texto2.style.background = "red";
	}
	console.log(today);
	console.log(caca);
	}
	</script>
<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="home">TO-DO</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					  <a class="nav-link" href="home">Inicio <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="mi_dashboard">Mi Dashboard</a>
					  </li>
					  <li class="nav-item">
						  <a class="nav-link" href="mis_materias">Mis materias</a>
						</li>
						<li class="nav-item">
							  <a class="nav-link" href="mis_tareas">Mis tareas</a>
							</li>
				  </ul>
				</div>
		</nav>
	<div class="container-fluid">
	<div class="jumbotron">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		
	</div>
	<div id="general" class="col-12">
	<div class="row">
		
				{% for tarea in tareas %}
				
			<div id="card1" class="card" style="width: 18rem;">
					<div class="card-header"><h5><b>Materia:</b> {{ tarea.5 }}</h5></div>
				<div class="card-body">
				  <h5 class="card-title"><b>Titulo:</b> {{ tarea.1 }}</h5>
				  <p class="card-text"><b>Descripcion:</b> {{ tarea.2 }}</p>
				</div>
				<ul id="lista" class="list-group list-group-flush">
				  <li id="texto1" class="list-group-item"><b>Fecha de creación:</b></li>
				  <li id="inicio" class="list-group-item">{{ tarea.3 }}</li>
				  <li id="texto2" class="list-group-item"><b>Fecha de entrega:</b></li>
				  <li id="fin" class="list-group-item">{{ tarea.4 }}</li>
				</ul>
				
			  </div>
			  
			  &nbsp&nbsp&nbsp&nbsp
			  
			  {% endfor %}
			 
		</div>
		
		<div id="aside" class="col-2">
		</div>
    </div>
    </div>
        <div>
				<footer>
						<div class="container">
							<h5>Alxdom® & MussgoKing® 2019</h5>
						</div>
					</footer>
			</div>
	

</body>
</html>