<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet"> 
	<title>Mis materias</title>
</head>
<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">TO-DO</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					  <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Mi Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Mis materias</a>
					  </li>
					  <li class="nav-item">
							<a class="nav-link" href="#">Mis tareas</a>
						  </li>
				  </ul>
				  <ul class="navbar-nav ml-auto">
					<li class="nav-item">
					  <a>Bienvenido, {{ username }}!</a>
					</li>
				</ul>
				</div>
		</nav>
	<div class="container-fluid">
	<div class="jumbotron">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		<h1>Edita y elimina tus materias</h1>
	</div>
	<div class="row">
		<div id="general" class="col-8">
                
        
        <table class="table table-hover table-bordered table-sm bg-white">

            <thead>
                <tr>
                    <td><h5>Materia</h5></td>
                </tr>

            </thead>
            <tbody>
                {% for materia in materias %}
                <tr>
                    <td><p>{{ materia.1 }}</p></td>

                    <td>
						<a href="/edit_materia/{{materia.0}}">Editar</a>
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="/delete_materia/{{materia.0}}">Eliminar</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
		<a href="main_materia">Registrar otra materia</a>
		
		</div>
		<div id="aside" class="col-4">
			
		</div>
	</div>
	
			<footer id="pie" class="row">
					<div class="col">
						<ul id="listaPie">
							<li>Alxdom</li> Mussgoking</li>
					</ul>
						</div>
				</footer>
			</div>
	

</body>
</html>