<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet"> 
	<title>Mis materias</title>
</head>
<body>
		<nav class="navbar sticky-top navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/home">TO-DO</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					  <a class="nav-link" href="/home">Inicio <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="/mi_dashboard">Mi Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/mis_materias">Mis materias</a>
					  </li>
					  <li class="nav-item">
							<a class="nav-link" href="/mis_tareas">Mis tareas</a>
						  </li>
				  </ul>
				  <div class="mx-auto order-0">
						<a>Bienvenido, {{ username }}!</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
							<span class="navbar-toggler-icon"></span>
						</button>
					</div>
				  <ul class="navbar-nav ml-auto">
								<a class="nav-link" href="/logout">Cerrar Sesión</a>
				   </ul>
				</div>
		</nav>
	<div class="container-fluid">
	<div class="jumbotron">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		<h1>Edita y elimina tus materias</h1>
	</div>
	<div id="general" class="col-12">
	<div class="row">
		<div id="general" class="col-10">
                
        <table class="table table-hover table-bordered table-sm bg-white">

            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Creada</th>
                    <th>Entrega</th>
                    <th>Materia</th>
                </tr>
            </thead>
            <tbody> 
                    {% for tarea in tareas %}
                <tr>
                        
                            <td><p>{{ tarea.1 }}</p></td>
                            <td><p>{{ tarea.2 }}</p></td>
                            <td><p>{{ tarea.3 }}</p></td>
                            <td><p>{{ tarea.4 }}</p></td>
                            <td><p>{{ tarea.6 }}</p></td>
                            
                            
                            <td>
                                    <a href="/edit_tarea/{{tarea.0}}">Editar</a>
                                    <a href="/delete_tarea/{{tarea.0}}">Eliminar</a>
                                </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
		<a href="main_tarea">Registrar otra tarea</a>
		
		</div>
		<div id="aside" class="col-2">
			
		</div>
    </div>
    </div>
        <div>
				<footer>
						<div class="container">
							<h5>Alxdom® & MussgoKing® 2019</h5>
						</div>
					</footer> 
			</div>
	

</body>
</html>