<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Registro</title>
</head>
<body>
        {% block content %}
        {% from "_macro.html" import render_field %}
        <form>
                <div class="container">
                        {% include 'includes/_messages.html' %} <!--No funcionan mis mensajes flash, no sé si sólo sea porque no me sale el insert de datos, HELP ME :'v -->
                    <div class="row">
                        <div class="col-6">
                            <div>
                {{render_field(form.nombre, <input type="text"> class='form-control')}}
                            </div>
                        </div>
                    </div>        
                
                <div class="row">
                    <div class="col-6">
                        <div>
                {{render_field(form.correo, class='form-control')}}
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6">
                        <div>
            {{render_field(form.institucion, class='form-control')}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div>
            {{render_field(form.password, class='form-control')}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div>
            {{render_field(form.confirmar, class='form-control')}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-sm">Registrarse</button>
                    </div>
                </div>
            </div>
        
                </form>
                {% endblock %}
	<footer>
		<div class="container">
			<div class=row>
				<p class="copyright text-muted">&copy; Sacame la verga Lupe ven y dame unas mamadas</p>
			</div>
		</div>
	</footer>
</body>
</html>